<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>電卓入力画面</title>
</head>

<body>
    <div th:text="${session.count} + '回目の計算'"></div>
    <form method="post" action="/input" th:object="${calcForm}">
        <div th:errors="*{param1}"></div>
        <div th:errors="*{param2}"></div>
        <input type="number" name="param1" th:value="*{param1}">
        <select name="param3">
            <option value="+" th:selected="*{param3 == '+'}">+</option>
            <option value="-" th:selected="*{param3 == '-'}">-</option>
            <option value="×" th:selected="*{param3 == '×'}">×</option>
            <option value="÷" th:selected="*{param3 == '÷'}">÷</option>
        </select>
        <input type="number" name="param2" th:value="*{param2}">
        <input type="submit" value="=">
    </form>
    <a href="/delete">回数削除</a>
</body>

</html>