<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧画面</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div th:text="${deleteNum}"></div>
    <a href="/user/input">新規登録</a>
    <form method="post" action="/user/list">
        <input type="text" name="search" th:value="${search}">
        <input type="submit" value="検索">
        <button type="button" id="delete">削除</button>
        <table border="1">
            <tr>
                <th>選択</th>
                <th>ユーザーID</th>
                <th>名前</th>
                <th>編集</th>
            </tr>
            <tr th:each="item:${list}">
                <td><input type="checkbox" name="check[]" th:value="${item.user_id}"></td>
                <td th:text="${item.user_id}"></td>
                <td th:text="${item.name}"></td>
                <td>
                    <a href="/user/input" th:href="@{/user/input(user_id=${item.user_id})}">編集</a>
                </td>
            </tr>
        </table>
    </form>
    <script>
        $('#delete').click(function () {
            if (confirm('削除しますがよろしいですか?')){
                var form = $(this).parents('form');
                form.attr('action', '/user/delete');
                form.submit();
            }else {
                return false;
            }
        });
    </script>

</body>

</html>